body {
  font-family: "Menlo", "Meslo LG", monospace;
  color: #DFE3E3;
  background-color: #201c1c;
}

.main {
  font-size: 2em;
  min-height: 85vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
  color: #9C9B9E;
}