/* projects page */

main {
    margin-top: 5rem;
    text-align: center;
}

.projects {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.projects > div {
    margin: 1rem 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.projects > div > * {
    grid-column: 1;
    grid-row: 1;

    transition: 0.25s;
}

.projects > div a {
    visibility: hidden;
    text-decoration: none;
    font-size: 1.25rem;
    color: #dfe3e3;
}

.projects > div:hover a {
    position: relative;
    visibility: visible;
}

.projects > div a:hover {
    text-decoration: underline;
}

.preview {
    max-width: 12.5rem;
    max-height: 12.5rem;
}

.projects > div:hover .preview {
    filter: blur(3px) brightness(30%);
}
